
<app-header></app-header>
<router-outlet></router-outlet>
<section id="home">
  <div class="day">
    <img src="assets/img/car8.jpg">
  </div>
    <div class="fool">
      <h2 class="hey">WE ARE BUILDING SOFTWARE TO HELP</h2>
        <h1 class="why">
        SOFTWARE TO HELP
      </h1>
      <p class="where">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,
      </p>
      <button type="button" class="btn btn-outline-light dada">Download</button>
    </div>
</section>

<section id="about">
  <div class="flex">
    <h1 class="text-center mt-5 wash">What is sofbox ?</h1>
    <hr/>
    <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card face">
          <svg class="icon">
            <use xlink:href="assets/myicons.svg#diagram" />
            </svg>
            <div class="card-body">
              <h5 class="card-title let">Easy to Customize</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          </div>
        </div>
      </div>
        <div class="col-md-4">
          <div class="card face">
            <svg class="icon">
              <use xlink:href="assets/myicons.svg#data" />
              </svg>
              <div class="card-body">
              <h5 class="card-title let">Multipurpose layout</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card face">
          <svg class="icon">
            <use xlink:href="assets/myicons.svg#think-different" />
            </svg>
            <div class="card-body">
            <h5 class="card-title let">Unique Design</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
        </div>
      </div>
    </div>

    </div>
  </div>


  <div class="fat">
  <div class="container">
   <div class="row mt-5">
     <div class="col-md-6">
       <h3 class="">What can sofbox do ?</h3>
       <hr/>
       <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
       <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</p>
       <h5><strong>Discover our best ever services.</strong></h5>
       <button type="button" class="btn btn-outline-light mt-3">Click Here</button>
     </div>
     <div class="col-md-6 yes">
       <img src="assets/img/car768.jpg">
     </div>
    </div>
   </div>
  </div>
</section>

<section id="service">
   <div class="jumbotron">
     <div class="conainer">
     <h3 class="text-center">Sofbox Specialities</h3>
     <hr/>
     <p class="text-center pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>

     <div class="card-deck mt-5">
      <div class="row">
        <div class="col-xl-3 col-sm-6">
       <div class="card hope">
        <i class="fas fa-tv fa-3x"></i>
         <div class="card-body">
           <h4 class="">High Resolution</h4>
           <p class="">Lorem ipsum madolor sit amet, consectetur adipisicing elit.</p>
         </div>
       </div>
      </div>
      <div class="col-xl-3 col-sm-6">
       <div class="card hope">
        <i class="fas fa-fire fa-3x"></i>
        <div class="card-body">
          <h4 class="">High Resolution</h4>
          <p class="">Lorem ipsum madolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
      <div class="col-xl-3 col-sm-6">
      <div class="card hope">
        <i class="fab fa-google-plus-g fa-3x"></i>
        <div class="card-body">
          <h4 class="">High Resolution</h4>
          <p class="">Lorem ipsum madolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
       <div class="col-xl-3 col-sm-6">
      <div class="card hope">
        <i class="far fa-heart fa-3x"></i>
        <div class="card-body">
          <h4 class="">High Resolution</h4>
          <p class="">Lorem ipsum madolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
     </div>
      </div>
     </div>


      <div class="card-deck mt-5">
      <div class="row">
        <div class="col-xl-3 col-sm-6">
      <div class="card hope">
        <i class="fas fa-magic fa-3x"></i>
        <div class="card-body">
          <h4 class="">High Resolution</h4>
          <p class="">Lorem ipsum madolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
        </div>
        <div class="col-xl-3 col-sm-6">
      <div class="card hope">
        <i class="far fa-check-circle fa-3x"></i>
       <div class="card-body">
         <h4 class="">High Resolution</h4>
         <p class="">Lorem ipsum madolor sit amet, consectetur adipisicing elit.</p>
       </div>
     </div>
     </div>
     <div class="col-xl-3 col-sm-6">
     <div class="card hope">
      <i class="far fa-clone fa-3x"></i>
       <div class="card-body">
         <h4 class="">High Resolution</h4>
         <p class="">Lorem ipsum madolor sit amet, consectetur adipisicing elit.</p>
       </div>
     </div>
     </div>
     <div class="col-xl-3 col-sm-6">
     <div class="card hope">
      <i class="fas fa-video fa-3x"></i>
       <div class="card-body">
         <h4 class="">High Resolution</h4>
         <p class="">Lorem ipsum madolor sit amet, consectetur adipisicing elit.</p>
       </div>
       </div>
     </div>
    </div>
    </div>
   </div>
   </div>


   <div class="fail">
   <div class="container">
     <div class="row">
       <div class="col-xl-3 col-md-6 col-sm-12">
         <div class="viral">
          <i class="far fa-folder fa-3x"></i>
          <div class="such">
            <label>APP DOWNLOADS</label>
            <span>1540</span>
          </div>
         </div>
       </div>

       <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="viral">
          <i class="far fa-newspaper fa-3x"></i>
         <div class="such">
           <label>HAPPY CLIENTS</label>
           <span>2530</span>
         </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="viral">
          <i class="far fa-user fa-3x"></i>
         <div class="such">
           <label>ACTIVE ACCOUNTS</label>
           <span>8120</span>
         </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="viral">
          <i class="far fa-star fa-3x key"></i>
         <div class="such">
           <label class="">APP DOWNLOADS</label>
           <span class="">1540</span>
         </div>
        </div>
      </div>

     </div>

     <div class="count">
       <div class="row">
         <div class="col-md-6">
           <p class="text-white">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
           <br/>
           <p class="text-white">It has survived not only five centuries, but also the leap into electronic type setting, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           <br/>
           <button type="button" class="btn btn-outline-light">Download</button>
         </div>
         <div class="col-md-6 ans">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
        </div>
       </div>
     </div>
    </div>
  </div>
</section>

   <section id="contact">
     <div class="container">
     <div class="row mt-5">
       <div class="col-md-8">
         <img class="w-100 h-100" src="assets/img/cock.jpg">
       </div>
       <div class="col-md-4">
          <div class="group">
            <h4 class="mb-3 text-white">Get in Touch</h4>
            <form>
              <div class="contact-form">
                <div class="selection-field">
                  <input type="text" name="name" placeholder="Name">
                </div>
                <div class="selection-field">
                  <input type="text" name="email" placeholder="Email">
                </div>
                <div class="selection-field">
                  <input type="text" name="phone" placeholder="Phone">
                </div>
                <div class="selection-field">
                  <label for="contact_message"></label>
                  <textarea class="form-control" id="contact_message" placeholder="Comment" rows="3"></textarea>
                </div>
                <div class="selection-field mt-5">
                  <button type="button" class="btn btn-outline-light mt-15 button">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
       </div>


    <div class="row mt-5 text-center p-3">
      <div class="col-xl-3 col-md-6 text-center">
        <div class="card sea">
        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
        <div class="card-body">
        <h3>Address</h3>
        <p>F103,PEROLA Four seasons shelters Bainguinim Goa OLD GOA, GOA 403110 India</p>
      </div>
      </div>
      </div>
      <div class="col-xl-3 col-md-6 text-center">
        <div class="card sea">
        <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
        <div class="card-body">
        <h3>Phone</h3>
        <p>+91 8547 488 445
          Mon-Fri 10:00am - 05:00pm</p>
      </div>
      </div>
      </div>
      <div class="col-xl-3 col-md-6 text-center">
        <div class="card sea">
        <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
        <div class="card-body">
        <h3>Mail</h3>
        <p>support@appzheaven.com
          24 X 7 online support</p>
      </div>
      </div>
      </div>
      <div class="col-xl-3 col-md-6 text-center">
        <div class="card sea">
        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
        <div class="card-body">
        <h3>Facebook</h3>
        <p>Connect To Facebook and talk to me</p>
      </div>
    </div>
      </div>
      </div>

  </div>
<hr>
<footer class="text-center">© Appzheaven. All Rights Reserved</footer>
</section>
